{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
    {% include 'components/navbar/navbar.html' %}
    <link rel="stylesheet" href="{% static 'styles/pages/shop/product/product_detail.css' %}">

    <div class="product-detail-container">
        <div class="product-detail">
            <div class="product-detail__seller-info">
                <div class="product-detail__seller-details">
                    <div class="product-detail__seller-photo-container">
                        <img src="{{ product.seller.get_cooperative_logo_url}}" alt="Seller Profile Image" class="product-detail__seller-photo">
                    </div>
                    <p class="product-detail__seller-name">{{ product.seller.get_cooperative_name}}</p>
                </div>
            </div>
            <div class="product-detail__info">
                <div class="product-detail__description">
                    {{ product.description|linebreaks }}
                </div>
            </div>
        </div>
        <div class="product-detail__swipe-container">
            <div class="product-detail__img-container">
                <div class="product-detail__media">
                    <img src="{{ product.get_image_url }}" alt="{{ product.name }} - Imagen">
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="cart__box">
                <p class="cart__box-price">{{ product.price|floatformat:0|intcomma }} COP</p>
                {% if product.stock > 0 %}
                    <p class="product__available-message">Disponible {{ product.stock }}</p>
                {% else %}
                    <p class="product__available-message product__available-message--false">No disponible</p>
                {% endif %}
                {% if form %}
                    <form action="{% url 'shop:cart_add' product.id %}" method="post" class="cart__actions">
                        {% csrf_token %}
                        <div class="cart__box cart__box-select_quantity">
                            Cantidad:   
                            <select name="quantity">
                                {% for i in quantity_range %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if error %}
                            <p class="message-error">{{ error }}</p>
                        {% endif %}
                        <button type="submit" class="cart__button">Agregar al carrito</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="product-detail__related-products">
            <h2 class="product-detail__related-products-title">Productos Relacionados</h2>
            <div class="product-detail__products-list">
                {% for related_product in related_products reversed %}
                    <div class="product-detail__item">
                        <a href="{% url 'shop:product_detail' id=related_product.id slug=related_product.slug %}" class="product-detail__item-link">
                            <img src="{{ related_product.get_image_url }}" alt="{{ related_product.name }}" class="product-detail__item-img">
                            <h4 class="product-detail__item-name">{{ related_product.name }}</h4>
                            <p class="product-detail__item-price">{{ related_product.price|floatformat:0|intcomma  }} COP</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'components/footer.html' %}
    </div>

    

{% endblock %}