{% extends 'layouts/base.html' %}
{% load static %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/account/login/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-page-container">
    <div class="info-panel">
        <img src="{% static 'assets/imgs/i.e-luis-carlos-galan-sarmiento.webp' %}" alt="Imagen de I.E luis Carlos Galan Sarmiento" class="info-image">
        <div class="info-overlay"></div>
        <div class="info-content">
            <a class="info-logo" href="{% url 'home:home' %}">
                <img src="{% static 'assets/icons/favicon.ico' %}" alt="Logo Fundación LynKora" class="info-logo-img">
                <h1 class="info-name">Café Web L.C.G.S</h1>
            </a>
        </div>
    </div>
    {% block item %}{% endblock %}
</div>
{% endblock %}
