{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Cambiar contraseña{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/account/login/login.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="login-container">
        <div class="login-box">
            <div class="logo-container">
                <a href="/"><img src="{% static 'assets/icons/favicon.png' %}" alt="Logo" class="logo"></a>
                <p class="logo-text">Rurales Colombia</p>
            </div>
            <h3>Cambiar contraseña</h3>

            <form method="POST" action="{% url 'account_change_password' %}" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.oldpassword.label_tag }}
                    {{ form.oldpassword.errors }}
                    {{ form.oldpassword }}

                    {{ form.password1.label_tag }}
                    {{ form.password1.errors }}
                    {{ form.password1 }}

                    {{ form.password2.label_tag }}
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                </div>

                <p class="additional-links" style="text-align: center; margin-top: 20px;">
                    ¿Se te olvidó la contraseña actual?  
                    <a href="{% url 'account_reset_password' %}">La puedes renovar aquí</a>.
                </p>

                {% if form.errors %}
                    <div class="error-list">
                        <p class="error-message">Se te olvidó completar o corregir algunos campos.</p>
                    </div>
                {% endif %}
                
                <div class="button-container">
                    <a class="btn-secondary" href="{% url 'profile:settings' %}">Cancelar</a>
                    <button type="submit" class="btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
