{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Recuperar contraseña{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/account/login/login.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="login-container">
        <div class="login-box">
            <div class="logo-container">
                <a href="/"><img src="{% static 'assets/icons/favicon.png' %}" alt="Logo" class="logo"></a>
                <p class="logo-text">Rurales Colombia</p>
            </div>
            <h3>¿Olvidaste tu contraseña?</h3>
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecerla.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>

                {% if not user.is_authenticated %}
                    <div class="additional-links" style="text-align: center; margin-top: 20px;">
                        <a href="{% url 'account_signup' %}">¿No tienes cuenta? Regístrate</a>
                    </div>
                {% endif %}

                {% if form.non_field_errors %}
                    <span class="error-list">
                        <p class="error-message">{{ form.non_field_errors.0 }}</p>
                    </span>
                {% endif %}
   
                <div class="button-container">
                    <a class="btn-secondary" href="{% url 'account_change_password' %}">Volver</a>
                    <button type="submit" class="btn-primary">Enviar enlace</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
