{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Correo enviado{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/account/login/login.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="login-container">
        <div class="login-box">
            <div class="logo-container">
                <a href="/"><img src="{% static 'assets/icons/favicon.png' %}" alt="Logo" class="logo"></a>
                <p class="logo-text">Rurales Colombia</p>
            </div>
            <h3>Revisa tu correo</h3>
            <p>Si la dirección que ingresaste está registrada, te hemos enviado un enlace para restablecer tu contraseña.</p>

            <div class="button-container">
                <a class="btn-primary" href="{% url 'account_login' %}">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
