{% extends 'account/login.html' %}
{% load static %}

{% block title %}Establecer contraseña{% endblock %}

{% block item %}
    <h3>Establecer contraseña</h3>
    <form method="POST" class="login-form" action="">
        {% csrf_token %}
        <div class="form-group">
            <!-- Contraseña -->
            <label for="password1">Contraseña</label>
            <input type="password" name="password1" id="password1" required>

            <!-- Confirmar contraseña -->
            <label for="password2">Confirmar contraseña</label>
            <input type="password" name="password2" id="password2" required>

            <!-- Errores -->
            {% if errors.password %}
                {% for error in errors.password %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="button-container">
            <button type="submit" class="btn-primary">Confirmar</button>
            <a href="{% url 'users:login' %}" class="btn-secondary">Cancelar</a>
        </div>
    </form>

{% endblock %}
