{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Órdenes{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'styles/pages/orders/order.css' %}">
{% endblock %}

{% block content %}
{% include "components/navbar/navbar.html" %}
<div class="order-container">
    <div>
        <a href="{% url 'orders:order_list' %}" class="order-back-btn">
            <img src="{% static 'assets/icons/arrow_back.svg' %}" alt="Regresar a Órdenes">
            <p>Regresar a Órdenes</p>
        </a>
    </div>
    <h2 class="order-title">Detalle de la Orden #{{ order.id }}</h2>
    <p><strong>Estado:</strong>
        <span class="order-badge order-{{ order.status }}">
            {{ order.get_status_display }}
        </span>
    </p>
    <p><strong>Ubicación:</strong> {{ order.get_school_address_display }}</p>
    <p><strong>Fecha de Creación:</strong> {{ order.created|date:"d M Y H:i" }}</p>
    {% if order.status == 'completed' %}
        <p><strong>Fecha de Entrega:</strong> {{ order.arrival_time|date:"d M Y H:i" }}</p>
    {% endif %}
    <div class="order-products-list">
        <h3>Productos</h3>
        <ul>
            {% for item in order.items.all %}
                <li>
                    <strong>{{ item.product.name }}</strong>
                    <span>(x{{ item.quantity }})</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>
        <span class="order-total-label">Total:</span>
        <span class="order-total-amount">${{ order.get_total_cost|floatformat:0 }} COP</span>
    </p>
    <form method="post" class="order-actions ">
        {% csrf_token %}
        {% if can_delete %}
            <button type="submit" name="delete" class="order-cancel-btn">Eliminar</button>
        {% endif %}
        {% if can_cancel %}
            <form action="{% url 'orders:order_delete' order.id %}" method="post">
                {% csrf_token %}
                <button class="order-cancel-btn" title="Cancelar">
                    Cancelar
                </button>
            </form>
        {% endif %}
    </form>
</div>
{% endblock %}