{% extends 'layouts/base.html' %}

{% load humanize %}
{% load static %}

{% block title %}Rurales Colombia{% endblock %}

{% block content %}

    {% include 'components/navbar/navbar.html' %}

    {% block extra_styles %}
        <link rel="stylesheet" href="{% static 'styles/pages/home/home.css' %}">
    {% endblock %}

    {% if best_offers %}
    <div class="top">
        <div class="best-offers">
            <button class="best-offers__button primary_btn" id="best-offers__button--left">
                <img src="{% static 'assets/icons/arrow_back.svg' %}" alt="">
            </button>
            <div class="best-offers__box">
                {% for offer in best_offers %}
                    <div class="category">
                        <a href="{{ offer.category.get_absolute_url }}">
                            <img src="{{ offer.image.url }}" alt="Oferta en {{ offer.category.name }}" class="category-image">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="best-offers__button primary_btn" id="best-offers__button--right">
                <img src="{% static 'assets/icons/arrow_forward.svg' %}" alt="">
            </button>
        </div>
        <div class="best-offers__dots"></div>
    </div>
       
    {% endif %}

    {% for category, products in category_products.items %}
        <div class="all-category">
            <h2>{{ category }}</h2> 
            <div class="item">
                {% for product in products %}
                    <div class="product">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                        <h3><strong>{{ product.seller.get_cooperative_name }}</strong></h3>
                        <br>
                        <hr>
                        <br>
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.price|floatformat:0|intcomma }} COP</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    {% include 'components/footer.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}