{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/pages/shop/search/search.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/navbar/navbar.html' %}

    <div class="search">
        {% include 'pages/shop/search/search_left.html' with subcategories=subcategories form_price=form_price %}
        <div class="search-results">
            <h1 class="search-results__category-title ">{{ category.name }}</h1>
            {% if errors %}
                <p class="search-results__error">{{ errors }}</p>
            {% endif %}

            {% if products %}
            <ul class="search-results__product-list">
                {% for product in products %}
                <li class="search-results__product">
                    <a href="{{ product.get_absolute_url }}" class="search-results__product-link">
                        <img src="{% if product.get_image_url %}{{ product.get_image_url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="search-results__product-image" alt="{{ product.name }}">
                    </a>
                    <h3 class="search-results__product-name">{{ product.name }}</h3>
                    <p class="search-results__product-price">Precio: {{ product.price }} COP</p>
                    <form method="post" action="{% url 'shop:cart_add' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-add-cart">Añadir al carrito</button>
                    </form>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay productos disponibles en esta categoría.</p>
            {% endif %}

        </div>
    </div>

    {% include 'components/footer.html' %}
{% endblock %}
