{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Resultados de búsqueda - Rurales Colombia{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/pages/home/home.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/navbar/navbar.html' %}
        {% if search_results %}
            <div class="all-category">
                <h2>Resultados</h2>
                <div class="item">
                    {% if categories %}
                        {% for category, products in categories.items %}
                            {% for product in products %}
                                <div class="product">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.get_image_url %}{{ product.get_image_url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                                    </a>
                                    <h3>{{ product.name }}</h3>
                                    <p>{{ product.price|floatformat:0|intcomma }} COP</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <p>No se encontraron productos.</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>No se encontraron resultados para tu búsqueda.</p>
        {% endif %}

    {% include 'components/footer.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/search.js' %}" defer></script>
{% endblock %}
