{% extends 'layouts/base.html' %}
{% load static %}
{% load navbar_cart %}
{% cart_tag as cart %}
{% load humanize %}
{% load cart_update %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/pages/shop/cart/cart_detail.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/navbar/navbar.html' %}

    <div class="orders">
        <div class="orders-box">
            <div class="orders__header">
                <div class="orders__title-text">
                    <p>Carrito ({{ cart.total_items }})</p>
                </div>
                <div class="orders__total-text">
                    <p>Total: <strong>{{ cart.get_total|floatformat:0|intcomma }} COP</strong></p>
                </div>
            </div>

            <div class="orders__content">
                <div class="orders__content-list">
                    {% if items %}
                        <ul>
                            <div>
                                {% for item in items %}
                                    <li class="product">
                                        <a href="{{ item.product.get_absolute_url }}">
                                            <img src="{{ item.product.get_image_url }}" alt="{{ item.product.name }}" class="product__img">
                                        </a>
                                        <div>
                                            <div>
                                                <strong>{{ item.product.name }}</strong><br>
                                                <small>{{ item.quantity }}x – {{ item.product.price|floatformat:0|intcomma }} COP</small><br>
                                                <small style="color: gray;">Disponibles: {{ item.product.stock }}</small>
                                            </div>

                                            <div>
                                                {% with form=update_amount_items|get_item_update:item.product.id %}
                                                    <form action="{% url 'shop:cart_update' item.product.id %}" method="post" class="update-form">
                                                        {% csrf_token %}
                                                        <div class="input-wrapper">
                                                           {{ form.update }} 
                                                        </div>
                                                        <button type="submit" class="btn-continue">Actualizar</button>
                                                    </form>
                                                {% endwith %}
                                            </div>
                                        </div>

                                        <form action="{% url 'shop:cart_remove' item.product.id %}" method="post" class="profile__orders-link">
                                            {% csrf_token %}
                                            <button type="submit">Eliminar</button>
                                        </form>
                                    </li>
                                {% endfor %}                                
                            </div>
                        </ul>
                    {% else %}
                        <p>Tu carrito está vacío.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="orders__sidebar">
            <div class="orders__sidebar-box">
                <div class="orders__continue">
                    <div class="orders__continue-title">
                        <p>Resumen:</p>           
                    </div>
                    <div class="orders__continue-info">
                        <p>Total de productos: <strong>{{ cart.total_items }}</strong></p>
                        <p>Total a pagar: <strong>{{ cart.get_total|floatformat:0|intcomma }} COP</strong></p>
                    </div>
                    <a href="{% url 'orders:order_continue' %}">
                        <button class="btn-continue">Continuar con el pedido</button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="orders">
        {% if related_products %}
            {% include 'components/shop/_list_products.html' with products=related_products title="Productos que podrían interesarte" %}
        {% endif %}
    </div>





    {% if request.user_agent.is_mobile %}
        {% include 'account/profile/mobile/utilities/menu-bottom.html' %}
    {% else %}
        {% include 'components/footer.html' %}
    {% endif %}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/shop/cart/cart_update.js' %}"></script>
{% endblock %}
