{% load static %}


<div class="footer">
    <div class="footer__navigation">
        <a href="{% url 'users:show_account' %}" class="footer__link">
           <img src="{% static 'assets/icons/home.svg' %}" alt="">
            Inicio
        </a>
        <a href="" class="footer__link">
            <img src="{% static 'assets/icons/info.svg' %}" alt="">
            Acerca de 11.02
        </a>
        <a href="" class="footer__link">
            <img src="{% static 'assets/icons/contact.svg' %}" alt="">
            Contacto
        </a>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'users:login' %}" class="footer__link">
                <img src="{% static 'assets/icons/user.svg' %}" alt="">
                Regístrate
            </a>
        {% endif %}
    </div>
    <hr>
    <p class="footer-message">Café web escolar L.C.G.S</p>
    <hr>
</div>
